<section class="data-sheet-main">
    <div class="right-container">
        <img src="assets/images/img.jpg" alt="Hilux DX/SR">
    </div>
    <div class="left-container">
        <h2>Hilux DX/SR</h2>
        <div class="subtitle">
            Preparada para cualquier desafío
        </div>
        <p>
            Texto lorem ipsum dolor sit amet orem ipsum dolor sit amet. 
            lorem ipsum dolor sit amet orem ipsum dolor sit amet lorem ipsum 
            dolor sit amet orem ipsum dolor sit amet.
        </p>
    </div>
</section>
