<section class="models">
    <div class="models-container" *ngFor="let item of filteredCars" routerLink="/ficha-tecnica">
        <div class="car-box">
            <h2>
                {{item.model_name}}
            </h2>
            <span>
                {{item.model_year}} | $ {{item.price | number}}
            </span>
            <img src="/assets/images/cars/{{item.img}}" alt="{{item.model_name}}" />
            <label class="btn-model">Ver Modelo</label>
        </div>
    </div>
</section>