<section class="data-sheet-description">
    <div class="data order2">
        <h2>Título de 20 px</h2>
        <p>Texto lorem ipsum dolor sit amet orem ipsum dolor sit amet. lorem ipsum dolor
            sit amet orem ipsum dolor sit amet lorem ipsum dolor
            sit amet orem ipsum dolor sit amet.</p>
    </div>
    <div class="img order1">
        <img src="assets/images/description-1.jpg" alt="Descripción" />
    </div>
    <div class="img order3">
        <img src="assets/images/description-2.jpg" alt="Descripción" />
    </div>
    <div class="data order4">
        <h2>Título de 20 px</h2>
        <p>Texto lorem ipsum dolor sit amet orem ipsum dolor sit amet. lorem ipsum dolor
            sit amet orem ipsum dolor sit amet lorem ipsum dolor
            sit amet orem ipsum dolor sit amet.</p>
    </div>
</section>