<section class="menu" [ngClass]='{"active": expanded}'>
    <div class="menu-container">
        <div class="menu-close" (click)="closeMenu()">
            <span>Cerrar</span>
            <img src="/assets/images/fill.svg" alt="Close" />
        </div>
        <nav>
            <ul>
                <li routerLink="/">Modelos</li>
                <li>Servicios y Accesorios</li>
                <li>Financiación</li>
                <li>Reviews y Comunidad</li>
            </ul>
            <ul>
                <li>Toyota Mobility Service</li>
                <li>Toyota Gazoo Racing</li>
                <li>Toyota Híbridos</li>
            </ul>
            <ul>
                <li>Concesionarios</li>
                <li>Test Drive</li>
                <li>Contacto</li>
            </ul>
            <ul class="menu-footer">
                <li>Actividades</li>
                <li>Servicios al Cliente</li>
                <li>Ventas Especiales</li>
                <li>Innovación</li>
                <li>Prensa</li>
                <li>Acerca de...</li>
            </ul>
        </nav>
    </div>
</section>